@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.app {
  font-family: "Raleway", sans-serif;
  background-color: #0b3249;
  padding: 20px;
  min-height: 100vh;

  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .loading {
    color: #fff;
  }
}
